.sign-iu{
    margin-top:12vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sign-iu-content{
display: none;
}

/* Desktops*/

@media only screen and (min-width: 1025px){
    .sign-iu-content{
        display: block;
        width: 65%;
        margin: 10px 25px;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
}

