.create-new-password-wrapper {
    margin-top: 12vh;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .cnp-container {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    height: 55%;
  }
  
  .cnp-container > h2 {
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    background-color: var(--theme-color);
    font-size: 20px;
  }
  
  .cnp-container > form {
    padding: 10px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
  }
  
  .cnp-container > form label {
      display: block;
    text-align: left;
    margin-bottom: 5px;
  }

  .cnp-container>form small{
      display: block;
      text-align: left;
  }
  
  .cnp-container > form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    border: 0.5px solid var(--theme-color);
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .cnp-container>form input:nth-of-type(2){
      margin-bottom: 5px;
  }
  
  .cnp-container > form button {
    background-color: var(--theme-color);
    padding: 8px;
    border-radius: 50px;
    width: 35%;
    margin: 20px auto 20px;
    font-size: 17px;
    font-family: "Righteous", cursive;
  }
  
  /* Small Tablets*/
  
  @media only screen and (min-width: 481px) {
      .cnp-container {
          width: 65%;
          margin: 0 auto;
        }
        .cnp-container > h2 {
          font-size: 25px;
        }
      
        .cnp-container > form input {
          font-size: 20px;
          padding: 10px;
        }
      
        .cnp-container > form button {
            width: 35%;
          padding: 10px;
          font-size: 17px;
        }
  }
  
  /* Large Screen Tablets*/
  
  @media only screen and (min-width: 768px) {
      .cnp-container {
          width: 65%;
          margin: 0 auto;
        }

        .cnp-container > h2 {
          font-size: 30px;
        }

        .cnp-container>form label{
            font-size: 18px;
        }
      
        .cnp-container > form input {
          font-size: 20px;
          padding: 10px;
        }

        .cnp-container>form small{
            font-size: 15px;
        }
      
        .cnp-container > form button {
            width: 35%;
          padding: 10px;
          font-size: 17px;
        }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1024px) {
      .cnp-container {
          width: 65%;
          margin: 0 auto;
          
        }
        .cnp-container > h2 {
          font-size: 35px;
        }
      
        .cnp-container > form input {
          font-size: 22px;
          padding: 12px;
        }

        .cnp-container>form label{
            font-size: 20px;
        }

        .cnp-container>form small{
            font-size: 18px;
        }
      
        .cnp-container > form button {
            width: 35%;
          padding: 10px;
          font-size: 22px;
          margin-bottom: 30px;
        }
  }
  
  /* Desktops*/
  
  @media only screen and (min-width: 1025px) {
      .cnp-container {
          width: 55%;
          margin: 0 auto;
          height: 55%;
        }
        .cnp-container > h2 {
          font-size: 27px;
        }
      
        .cnp-container > form input {
          font-size: 18px;
          padding: 10px;
          margin-bottom: 18px;
        }
      
        .cnp-container > form button {
            width: 22%;
          padding: 7px;
          font-size: 18px;
        }
  }
  