.forgot-my-password-wrapper {
  margin-top: 12vh;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.fmp-container {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: 55%;
}

.fmp-container > h2 {
  padding: 10px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  background-color: var(--theme-color);
  font-size: 20px;
}

.fmp-container > form {
  padding: 10px 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
}

.fmp-container > form h3 {
  font-size: 16px;
  margin: 5px auto 15px;
}

.fmp-container > form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  border: 0.5px solid var(--theme-color);
  border-radius: 5px;
  margin-bottom: 20px;
}

.fmp-container > form button {
  background-color: var(--theme-color);
  padding: 8px;
  border-radius: 50px;
  width: 35%;
  margin: 20px auto 20px;
  font-size: 17px;
  font-family: "Righteous", cursive;
}

/* Small Tablets*/

@media only screen and (min-width: 481px) {
    .fmp-container {
        width: 65%;
        margin: 0 auto;
        height: 45vh;
      }
      .fmp-container > h2 {
        font-size: 25px;
      }
    
      .fmp-container > form h3 {
        font-size: 18px;
        margin: 15px auto 25px;
      }
    
      .fmp-container > form input {
        font-size: 20px;
        padding: 12px;
      }
    
      .fmp-container > form button {
          width: 35%;
        padding: 10px;
        font-size: 17px;
      }
}

/* Large Screen Tablets*/

@media only screen and (min-width: 768px) {
    .fmp-container {
        width: 65%;
        margin: 0 auto;
        height: 35vh;
      }
      .fmp-container > h2 {
        font-size: 30px;
      }
    
      .fmp-container > form h3 {
        font-size: 23px;
        margin: 15px auto 25px;
      }
    
      .fmp-container > form input {
        font-size: 20px;
        padding: 12px;
      }
    
      .fmp-container > form button {
          width: 35%;
        padding: 10px;
        font-size: 17px;
      }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .fmp-container {
        width: 65%;
        margin: 0 auto;
        height: 30vh;
      }
      .fmp-container > h2 {
        font-size: 35px;
      }
    
      .fmp-container > form h3 {
        font-size: 27px;
        margin: 15px auto 35px;
      }
    
      .fmp-container > form input {
        font-size: 22px;
        padding: 13px;
        margin-bottom: 65px;
      }
    
      .fmp-container > form button {
          width: 35%;
        padding: 10px;
        font-size: 22px;
      }
}

/* Desktops*/

@media only screen and (min-width: 1025px) {
    .fmp-container {
        width: 55%;
        margin: 0 auto;
        height: 55%;
      }
      .fmp-container > h2 {
        font-size: 27px;
      }
    
      .fmp-container > form h3 {
        font-size: 20px;
        margin: 15px auto 35px;
      }
    
      .fmp-container > form input {
        font-size: 18px;
        padding: 10px;
        margin-bottom: 18px;
      }
    
      .fmp-container > form button {
          width: 22%;
        padding: 7px;
        font-size: 18px;
      }
}
